Repository cnotv/news: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, lint:style --fix, prettier -w -u

.lintstagedrc.json:

{
  "*.{ts, vue}": [
    "yarn lint:fix"
  ],
  "*.{css,scss,vue}": "lint:style --fix",
  "*": "prettier -w -u"
}

Restrict masonry to gallery only
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u

Correct loading centering for mobile
  src/assets/styles/common/_normalize.scss
Due: lint:style --fix, prettier -w -u

Allow to change subreddit for mobile on slide left/right
  dev-dist/sw.js.map
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u

Prevent moving for smaller slides while scrolling
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u

Set min width for images on gallery layout
  src/assets/styles/objects/_gallery.scss
Due: lint:style --fix, prettier -w -u

Add alt video paths
  dev-dist/sw.js.map
  src/components/ImagePreview.vue
  src/types/reddit-posts.d.ts
Due: yarn lint:fix, lint:style --fix, prettier -w -u

Add more suggestions
  src/views/Welcome.vue
Due: lint:style --fix, prettier -w -u

Remove dev dist
  dev-dist/registerSW.js
  dev-dist/sw.js
  dev-dist/sw.js.map
  dev-dist/workbox-148cb7e5.js
  dev-dist/workbox-3625d7b0.js
  dev-dist/workbox-3625d7b0.js.map
Due: prettier -w -u

Ignore dev-dist folder
  .gitignore
Due: prettier -w -u

Increase touch slide threshold and direction
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u

Update VSCode settings
  .vscode/settings.json
Due: prettier -w -u

Update NVM node requirement to latest
  .nvmrc
Due: prettier -w -u

Add more subs
  src/views/Welcome.vue
Due: lint:style --fix, prettier -w -u

Enable video controls
  src/components/ImagePreview.vue
Due: lint:style --fix, prettier -w -u

Remove wrapper
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u

Refactor the whole masonry code and toggle video play/pause if on viewport
  src/assets/styles/objects/_gallery.scss
  src/components/Gallery.vue
  src/components/ImagePreview.vue
  src/components/Masonry.vue
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u

Correct current sub related load more issues
  src/store/actions.ts
Due: yarn lint:fix, prettier -w -u

Update libraries and configuration to latest
  .eslintrc.cjs
  .eslintrc.js
  .prettierrc
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  cypress.config.ts
  cypress.json
  cypress/e2e/example.cy.ts
  cypress/e2e/tsconfig.json
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  env.d.ts
  index.html
  package.json
  src/App.vue
  src/env.d.ts
  src/filters.js
  src/helpers/api.ts
  src/main.ts
  src/router/index.ts
  src/shims-tsx.d.ts
  src/shims-vue.d.ts
  src/store/actions.ts
  src/store/getters.ts
  src/store/index.ts
  src/store/mutations.ts
  src/store/state.ts
  src/stores/counter.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.ts
  vitest.config.ts
  yarn.lock
Due: yarn lint:fix, lint:style --fix, prettier -w -u

Solve all the linting issues
  src/assets/styles/common/_mixins.scss
  src/assets/styles/components/_layout.scss
  src/components/Card.vue
  src/components/Gallery.vue
  src/components/ImagePreview.vue
  src/components/List.vue
  src/components/NewsHeader.vue
  src/components/Paper.vue
  src/components/Subreddit.vue
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u

Remove Pinia store files
  src/stores/counter.ts
Due: yarn lint:fix, prettier -w -u

Add types for Vuex
  src/types/vuex.d.ts
  tsconfig.app.json
  vite.config.ts
Due: yarn lint:fix, prettier -w -u

Correct types import
  src/components/Card.vue
  src/components/Gallery.vue
  src/components/ImagePreview.vue
  src/components/List.vue
  src/components/Masonry.vue
  src/components/NewsHeader.vue
  src/components/Paper.vue
  src/components/Subreddit.vue
  src/helpers/api.ts
  src/router/index.ts
  src/store/actions.ts
  src/store/getters.ts
  src/store/index.ts
  src/store/mutations.ts
  src/store/state.ts
  src/types/api.d.ts
  src/types/reddit-subreddits.d.ts
  src/types/state.d.ts
  src/views/Home.vue
  tsconfig.app.json
  tsconfig.node.json
Due: yarn lint:fix, lint:style --fix, prettier -w -u

Add types to Masonry
  src/components/Card.vue
  src/components/Gallery.vue
  src/components/ImagePreview.vue
  src/components/Masonry.vue
  src/components/Paper.vue
Due: lint:style --fix, prettier -w -u

Fix issue with vuex/types
  tsconfig.app.json
Due: prettier -w -u

Correct process type issue
  src/registerServiceWorker.ts
  src/store/state.ts
Due: yarn lint:fix, prettier -w -u

Fix issue with strict template check and options API casting type on composing API
  src/components/Card.vue
  src/components/Gallery.vue
  src/components/ImagePreview.vue
  src/components/NewsHeader.vue
  src/views/Welcome.vue
  tsconfig.app.json
Due: lint:style --fix, prettier -w -u

Disable swipe due issues
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u

Add hover/focus effects on icon buttons
  src/assets/styles/common/_theme_dark.scss
  src/assets/styles/common/_theme_light.scss
  src/assets/styles/common/_variables.scss
  src/assets/styles/components/_buttons.scss
Due: lint:style --fix, prettier -w -u

Markup cleanup
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u

Rename gallery item and prevent break if loaded
  src/components/GalleryItem.vue
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u
