Repository cnotv/news: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, lint:style --fix, prettier -w -u

Lint autofix
  .huskyrc.json
  src/App.vue
  src/components/Card.vue
  src/components/Gallery.vue
  src/components/List.vue
  src/components/NewsHeader.vue
  src/components/Paper.vue
  src/components/Subreddit.vue
  src/components/order.vue
  src/components/search.vue
  src/data/settings.ts
  src/helpers/api.ts
  src/main.ts
  src/mixins/index.ts
  src/models/api.d.ts
  src/models/reddit-posts.d.ts
  src/models/reddit-subreddits.d.ts
  src/models/state.d.ts
  src/registerServiceWorker.ts
  src/router/index.ts
  src/shims-tsx.d.ts
  src/store/actions.ts
  src/store/getters.ts
  src/store/index.ts
  src/store/mutations.ts
  src/store/state.ts
  src/views/Home.vue
  src/views/Subreddits.vue
  src/views/Welcome.vue
Due: yarn lint:fix, lint:style --fix, prettier -w -u

Add types to props and correct interface
  .eslintrc.js
  .vscode/settings.json
  package.json
  src/components/Card.vue
  src/components/Gallery.vue
  src/components/List.vue
  src/components/Paper.vue
  src/components/Subreddit.vue
  src/components/search.vue
  src/helpers/api.ts
  src/main.ts
  src/mixins/index.ts
  src/shims-tsx.d.ts
  src/shims-vue.d.ts
  src/store/actions.ts
  src/store/getters.ts
  src/store/index.ts
  src/store/mutations.ts
  src/store/state.ts
  src/types/api.d.ts
  src/types/reddit-posts.d.ts
  src/types/reddit-subreddits.d.ts
  src/types/state.d.ts
  src/views/Home.vue
  src/views/Subreddits.vue
  src/views/Welcome.vue
  tests/unit/Header.spec.ts
  tests/unit/List.spec.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: yarn lint:fix, lint:style --fix, prettier -w -u

Add plubic folder for meta and offline content
  index.html
  public/404.html
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon-120x120.png
  public/apple-touch-icon-152x152.png
  public/apple-touch-icon-180x180.png
  public/apple-touch-icon-60x60.png
  public/apple-touch-icon-76x76.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.svg
  public/msapplication-icon-144x144.png
  public/mstile-150x150.png
  public/robot.txt
Due: prettier -w -u

Allow access headers for Sentry requests
  index.html
  netlify.toml
Due: prettier -w -u

Add color themes
  src/assets/styles/common/_global.scss
  src/assets/styles/common/_theme_dark.scss
  src/assets/styles/common/_theme_light.scss
  src/assets/styles/common/_variables.scss
  src/assets/styles/main.scss
Due: lint:style --fix, prettier -w -u

Add modal capabilities
  src/assets/styles/common/_global.scss
  src/assets/styles/objects/_modal.scss
  src/components/List.vue
  src/components/Modal.vue
  src/store/actions.ts
  src/store/mutations.ts
  src/store/state.ts
  src/types/state.d.ts
  src/views/Home.vue
Due: yarn lint:fix, lint:style --fix, prettier -w -u

Test cors anywhere
  src/components/List.vue
Due: lint:style --fix, prettier -w -u

Strip headers from iframes responses
  call-proxy.js
  netlify.toml
Due: prettier -w -u

Corrected modal object properties
  src/components/Modal.vue
  src/store/mutations.ts
  src/store/state.ts
  src/types/state.d.ts
  src/views/Home.vue
Due: yarn lint:fix, lint:style --fix, prettier -w -u

Add Netlify serverless function
  call-proxy.js
  netlify/functions/call-proxy.js
  package.json
  yarn.lock
Due: prettier -w -u

Update Vite
  package.json
  yarn.lock
Due: prettier -w -u

Add PWA capabilities
  dev-dist/registerSW.js
  dev-dist/sw.js
  dev-dist/sw.js.map
  dev-dist/workbox-148cb7e5.js
  dev-dist/workbox-3625d7b0.js
  dev-dist/workbox-3625d7b0.js.map
  package.json
  vite.config.ts
  yarn.lock
Due: yarn lint:fix, prettier -w -u

Make black color darker
  src/assets/styles/common/_variables.scss
Due: lint:style --fix, prettier -w -u

Update _theme_dark.scss
  src/assets/styles/common/_theme_dark.scss
Due: lint:style --fix, prettier -w -u

Add retry and error catch
  dev-dist/sw.js.map
  package.json
  src/helpers/api.ts
  yarn.lock
Due: yarn lint:fix, prettier -w -u

Update packages
  dev-dist/sw.js.map
  yarn.lock
Due: prettier -w -u

Disable Sentry due extra forbidden headers
  src/main.ts
Due: yarn lint:fix, prettier -w -u

Change subreddits to objects to store position
  src/components/NewsHeader.vue
  src/store/actions.ts
  src/store/mutations.ts
  src/types/reddit-subreddits.d.ts
  src/types/state.d.ts
Due: yarn lint:fix, lint:style --fix, prettier -w -u

Fix issue with Subreddit search
  src/components/Subreddit.vue
  src/views/Subreddits.vue
Due: lint:style --fix, prettier -w -u

Allow to sort subreddits in the menu
  dev-dist/sw.js.map
  package.json
  src/components/NewsHeader.vue
  yarn.lock
Due: lint:style --fix, prettier -w -u

Fix type issue
  src/store/mutations.ts
Due: yarn lint:fix, prettier -w -u

Correct styling
  src/assets/styles/common/_type.scss
  src/assets/styles/components/_filter.scss
  src/assets/styles/objects/_nav.scss
  src/components/search.vue
Due: lint:style --fix, prettier -w -u

Fix issue with images
  src/components/Card.vue
  src/components/Gallery.vue
  src/components/ImagePreview.vue
  src/components/Paper.vue
Due: lint:style --fix, prettier -w -u

Allow to use custom settings
  dev-dist/sw.js.map
  src/components/order.vue
  src/store/actions.ts
  src/store/getters.ts
  src/store/mutations.ts
  src/store/state.ts
  src/types/state.d.ts
Due: yarn lint:fix, lint:style --fix, prettier -w -u

Fix issue with the divider
  src/assets/styles/common/_type.scss
Due: lint:style --fix, prettier -w -u

Add source URL for modal
  dev-dist/sw.js.map
  src/components/List.vue
  src/types/state.d.ts
  src/views/Home.vue
Due: yarn lint:fix, lint:style --fix, prettier -w -u

Correct missing theme styling issues
  src/assets/styles/components/_buttons.scss
  src/assets/styles/components/_inputs.scss
Due: lint:style --fix, prettier -w -u

Add source modal to store
  src/store/state.ts
Due: yarn lint:fix, prettier -w -u

Meta area facelift
  src/assets/styles/common/_type.scss
  src/assets/styles/components/_buttons.scss
  src/assets/styles/components/_layout.scss
  src/components/List.vue
  src/components/Subreddit.vue
Due: lint:style --fix, prettier -w -u

Fix loader position
  src/assets/styles/components/_loader.scss
Due: lint:style --fix, prettier -w -u

Fix search issue
  src/store/actions.ts
Due: yarn lint:fix, prettier -w -u

Add debounce; Convert search to composition API due route inside debounce
  dev-dist/sw.js.map
  package.json
  src/components/search.vue
  yarn.lock
Due: lint:style --fix, prettier -w -u

Update to API queries
  src/helpers/api.ts
  src/store/actions.ts
Due: yarn lint:fix, prettier -w -u

Update GIF and videos
  dev-dist/sw.js.map
  src/components/Gallery.vue
  src/components/ImagePreview.vue
  src/types/reddit-posts.d.ts
Due: yarn lint:fix, lint:style --fix, prettier -w -u

Correct video issues
  src/components/ImagePreview.vue
  src/types/reddit-posts.d.ts
Due: yarn lint:fix, lint:style --fix, prettier -w -u

close menu on navigation
  dev-dist/sw.js.map
  src/components/NewsHeader.vue
Due: lint:style --fix, prettier -w -u

Hide sub if not searching
  src/components/Gallery.vue
  src/views/Welcome.vue
Due: lint:style --fix, prettier -w -u

Add debugger launcher to VSCode
  .vscode/launch.json
Due: prettier -w -u

Replace gallery grid with masonry and fallback
  dev-dist/sw.js.map
  src/assets/styles/objects/_gallery.scss
  src/components/Gallery.vue
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u

Lint fix
  src/views/Home.vue
Due: lint:style --fix, prettier -w -u

Path conditions:
  yarn lint:fix: any of: *.{ts, vue}
  lint:style --fix: any of: *.{css,scss,vue}
  prettier -w -u: any of: *
